---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 71bed3968a5dde0d80b20963851bc781/1271216103006080375;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "Brooklyn",
          "region": "New York",
          "country": "US",
          "loc": "40.6940,-73.9903",
          "postal": "11201"
        }
  recorded_at: Sun, 10 Feb 2019 13:03:15 GMT
recorded_with: VCR 4.0.0
